@import '../../styles/variables';

.add_employee_btn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	z-index: 99;
	background-color: #1da1f2;
	border-radius: 1rem;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
}

.swipe_delete_banner {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0.75rem 1rem;
	background-color: #f2f2f2;
	color: #949c9e;

	.title {
		font-size: 15px;
		font-weight: 400;
	}
}
