@import '../../styles/variables';

.employee_form_wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.employee_form {
		display: flex;
		flex-direction: column;
		flex: 1;
		gap: 1.5rem;
		padding: 1.5rem 1rem;
		width: 100%;
		max-width: 786px;
		margin: 0 auto;
	}

	.date_wrapper {
		display: flex;
		gap: 1rem;
		align-items: center;
		width: 100%;
		font-size: 1rem;

		.form-wrapper {
			flex: 1;
		}

		svg {
			color: $bg-primary;
			font-size: 1.5rem;
		}
	}

	.form_action {
		display: flex;
		justify-content: flex-end;
		padding: 0.75rem 1rem;
		gap: 1rem;
		border-top: 2px solid $border-color;
		justify-self: flex-end;
	}
}

.form_action_btn {
	padding: 0.75rem;
	border-radius: 6px;
	min-width: 72px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1rem;
}

.cancel_btn {
	background-color: $bg-secondary;
	color: $bg-primary;
}
.save_btn {
	background-color: $bg-primary;
	color: white;
}
